<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lyl.chapter_2_test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="com.lyl.chapter_2_test.permission.ACCESS.BOOK.SERVICE"
        android:protectionLevel="normal"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".SecondActivity"
            android:configChanges="screenLayout"
                  android:process=":remote"
            />

        <activity android:name=".ThirdActivity"
            android:configChanges="screenLayout"
                  android:process="com.lyl.chapter_2_test.remote"
            />

        <activity android:name=".messenger.MessengerActivity">


        </activity>

        <service android:name=".messenger.MessengerService"
            android:process=":remoto_messenger"
            />

        <service android:name=".aidl.BookManagerService"
            android:process=":remoto"
            />

        <activity android:name=".aidl.BookManagerActivity">


        </activity>
       <!-- android:permission="com.lyl.PROVIDER"-->
        <provider
            android:authorities="com.lyl.chapter_2_test.provider"
            android:name=".provider.BookProvider"

            android:process=":provider"
            android:exported="true"
            />
        <service android:name=".socket.TCPServerService"/>

        <activity android:name=".socket.TCPClientActivity">

        </activity>

        <service android:name=".binderpool.BinderPoolService"/>
        <activity android:name=".binderpool.BinderPoolActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>